<div>
    <h1>Hola {{name}},  bienvennid@ </h1>
</div>


<input type="text" id="textInput">

<div id="mensajesDiv">

</div>
<div>
    <p id= "mensajes" ></p>
</div>

{{!-- <div>
    <input id="chatBox" type="text">
</div> --}}


{{!-- Sweet Alert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js" ></script> 
